html {
    scroll-behavior: smooth;
    overflow: auto;
}

body {
    font-family: 'Fredoka One';
}


section[id] {
    scroll-margin-top: 120px;
}

img {
    border-style: none;
    max-width: 100%;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-size: 20px;
    color: rgb(177, 177, 177);
}

button {
    background-color: rgb(2, 92, 206);
    font-size: 15px;
    color: white;
    min-height: 40px;
    min-width: 110px;
    border-radius: 7px;
    cursor: pointer;
}

span {
    background-color: rgba(133, 166, 255, 0.178);
    color: rgb(2, 92, 206);
    text-align: center;
    border-radius: 4px;
}

.horizontal_align {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.vertical_align {
    display: flex;
    flex-direction: column;
}

.space-around {
    justify-content: space-around;
}

.database-header {
    position: fixed;
    width: 100%;
    height: 120px;
    background-color: rgba(255, 255, 255, 0.856);
}

.seccion_content {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: rgb(255, 255, 255);
}

.seccion_emergency {
    height: 950px;
}

.education {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.856);
}

.title_page {
    color: rgb(41, 41, 252);
    font-size: 30px;
}

.flex_relative {
    position: relative;
}

.half_content {
    width: 50%;
    padding: 15px;
}

.info {
    font-size: 20px;
    color: rgb(12, 12, 92);
}

.info_figth {
    margin-top: 100px;
    margin-bottom: 110px;
}

.info_date {
    position: relative;
    border-style: groove;
    border-color: #d3d3d33b;
    border-radius: 5px;
}

.info_date div {
    width: 25%;
}

.title {
    font-weight: 500;
    color: rgb(12, 12, 92);
}

.description {
    font-size: 20px;
    color: rgb(177, 177, 177);
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_center {
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all;
}

.contact {
    padding: 15px;
}


.icons_style {
    padding: 5px;
    font-size: 20px;
}

.icons2_style {
    font-size: 25px;
    padding: 10px;
}

.margin_style {
    margin-left: 22%;
    margin-right: 22%;
}

.data-info {
    font-size: 20px;
    color: rgb(12, 12, 92);
}

.yellow_icons {
    padding: 2px;
    text-align: center;
    background-color: rgb(249, 255, 214);
    color: rgb(255, 208, 0);
    border-radius: 4px;
}

.vaccine-type-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.vaccine_logo {
    width: 25%;
    opacity: 0.4;
}

.boxes_reason_to_vaccine {
    border-style: groove;
    border-color: #d3d3d33b;
    padding: 30px;
    width: 250px;
    height: 290px;
    background: white;
    border-radius: 7px;
    margin: 10px;
}

.boxes_emergency {
    border-style: groove;
    border-color: #d3d3d33b;
    padding: 30px;
    width: 200px;
    height: 150px;
    background: white;
    border-radius: 7px;
    margin: 10px;
}

.news {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    background-color: rgba(255, 255, 255, 0.856);
}

.box_info_news {
    border-style: groove;
    border-color: #d3d3d33b;
    border-radius: 5px;
    margin-top: 25px;
    padding: 15px;
}

.about {
    background-color: rgba(133, 166, 255, 0.178);
}

.img_cover {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}